language: node_js
before_install:
  - npm install -g grunt-cli
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
node_js:
  - "0.11"
