<span class="color__swatch" style="background-color: {{hex}}"></span>
<div class="btn-group pull-right">
  <button type="button" class="color__deactivate btn btn-default btn-xs">{{#unless active}}Activate{{else}}Deactivate{{/unless}}</button>
</div>
{{name}}
