<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="page-header">
      <h3>Forgot Password <small>or <a href="#login">login</a></small></h3>
    </div>

    <form class="form">
      <div class="form-group">
        <label for="email">Email address</label>
        <input name="email" type="email" class="form-control" placeholder="Enter email">
      </div>

      <hr>

      <button type="submit" class="btn btn-primary btn-block">Send recovery email</button>
    </form>
  </div>
</div>
