.books {
  &__loading {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;

    h1 {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &__content {
    clear: left;
  }

  &__title {
    @media (min-width: @screen-md-min) {
      float: left;
    }
  }

  &__image {
    @media (max-width: @screen-md-min) {
      width: 100%;
      padding: @padding-large-vertical @padding-large-horizontal;
      margin: @padding-large-vertical 0;
      background: @gray-lighter;
      text-align: center;
      border-radius: @border-radius-large;
    }

    @media (min-width: @screen-md-min) {
      float: right;
      margin-left: @padding-large-horizontal;
      margin-bottom: @padding-large-horizontal;
    }

    img {
      max-width: 300px;
    }
  }

  &__library {
    .list-group-item-heading {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
