<div class="modal-header">
  <button type="button" class="close" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Confirm Color Action</h4>
</div>

<div class="modal-body">
  <p>Are you sure you want to {{#unless active}}activate{{else}}deactivate{{/unless}} {{name}}?</p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default">Cancel</button>
  <button type="button" class="btn btn-primary">Affirmative</button>
</div>
