<div class="page-header">
  <h1>Account</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <a class="thumbnail" href="https://gravatar.com" data-toggle="tooltip" data-placement="bottom" title="Change on Gravatar">
      <img src="{{url}}">
    </a>
  </div>

  <div class="col-md-9">
    <div class="list-group">
      <div class="list-group-item">
        <h4 class="list-group-item-heading">Name</h4>
        <p class="list-group-item-text">James Kyle</p>
      </div>

      <div class="list-group-item">
        <h4 class="list-group-item-heading">Email</h4>
        <p class="list-group-item-text">me@thejameskyle.com</p>
      </div>
    </div>

    <div class="list-group">
      <a class="list-group-item" href="https://github.com/thejameskyle">
        <h4 class="list-group-item-heading">Github</h4>
        <p class="list-group-item-text">@thejameskyle</p>
      </a>

      <a class="list-group-item" href="https://twitter.com/thejameskyle">
        <h4 class="list-group-item-heading">Twitter</h4>
        <p class="list-group-item-text">@thejameskyle</p>
      </a>
    </div>

    <p><a href="#login/reset">Reset Password</a></p>
  </div>
</div>
